*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

body{
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 20px;
    color: #e20000;
    text-decoration: none;
    font-weight: 300;
}

.navbar{
    display: flex;
}

.navbar a {
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
}

.navbar a:hover{
    color: dimgrey;
}

nav.seasons{
    display: flex;
    flex-direction: column;
    color: #e20000;
    padding-bottom: 30px;
    line-height: 50px;
}

div.title{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 3em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 72px;
    font-weight: 300;
    color: #e20000;
    /*background-color:white;*/
    height: 346px;
    
}

.bigtitle{
    font-family: "Yuji Syuku", serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    line-height: 100px;
    margin-right: 30px;
}

.background{
    margin: 10em;
    background-color:white;
    padding: 13em;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 1rem;
}

/*
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
*/

p{
    font-size: large;
    padding-bottom: 1em;
}

p.bigsubtitle{
    font-size: 30px;
    font-weight: 300;
    color: #e20000;
    padding-bottom: 1em;
}

p.subtitle{
    font-weight: 300;
    color: #e20000;
    padding-bottom: 0;
}

p.greysubtitle{
    font-weight: 300;
    color: #3f3f3f;
}

.text {
    flex: 1;
    /*padding: 200px;*/
    text-align: justify;
    text-justify: inter-word;
}

img {
    max-width: 100%;
    height: auto;
}

div.verticalimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 30px;
}

figcaption{
    font-style: italic;
    color: #282828;
    padding-bottom: 2rem;
}

.default_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 2em
}

.default{
    width: 10em;
    height: 6ex;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: 300;
    color: black;
    cursor: pointer;
}

.default:hover {
    background-color: rgb(234, 234, 234);
  }

/*
Fade in overlay de cada una de las vistas
*/

.views {
    position: relative;
    display: inline-block; /* Permite que el contenedor ajuste el tamaño de la imagen */
}

.overlay {
    display: block;
    width: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con opacidad */
    color: rgb(0, 0, 0); /* Color del texto */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease; /* Transición suave para el desvanecimiento */
    display: flex; /* Para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.views:hover .overlay {
    opacity: 1; /* Muestra la superposición al pasar el mouse */
}

.textviews {
    text-align: center; /* Centra el texto */
}

/*
TERMINO Fade in overlay
*/


.japsubtitle {
    font-family: "Yuji Syuku", serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #e20000;
    font-size: 50px;
    margin: 30px;
    margin-bottom: 0;

}

.italicsubtitle {
    font-style: italic;
}






footer{
    background-color: white;
    width: 100%;
    height: 6.5rem;
    text-align: center;
    padding-top: 2rem;
}